# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos de dependencias
node_modules/
venv/
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de compilación
*.class
*.o
*.exe